
.citations-header {
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: center
}

.citations-header {
  flex: 1;
  overflow: auto; /* enables scrolling for long lists */
  width: 100%;
}

.table-wrapper {
  padding: 25px;
}


.table {
  background: white;
}

.citation-form {
  display: flex;
  flex: 1;
  justify-content: center;
  background: #fff;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin: 48px;
}

  .citation-form label {
    display: block;
    margin-bottom: 10px;
  }

  .citation-form input {
    width: 100%;
    padding: 6px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

.form-actions {
  margin-top: 25px;
  display: flex;
  gap: 10px;
}

.action-col {
  min-width: 100px;
  text-align: center;
  align-content: center
}


.table-col {
  max-width: 200px;
  word-wrap: break-word;
  overflow-wrap: anywhere;
}
