
.citations-header {
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: center
}

.citations-header {
  flex: 1;
  overflow: auto; /* enables scrolling for long lists */
  width: 100%;
}


.add-citation-btn {
  background-color: transparent;
  color: #007bff;
  border: 1px solid;
  padding: 8px 14px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

  .add-citation-btn:hover {
    background-color: #e6f0ff; /* light blue background on hover */
    color: #0056b3; /* darker blue text on hover */
    border-color: #0056b3; /* match text on hover */
  }


  .add-citation-btn fa-icon {
    font-size: 16px;
  }

.table-wrapper {
  padding: 25px;
}


.table {
  background: white;
}

.citation-form {
  display: flex;
  flex: 1;
  justify-content: center;
  background: #fff;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin: 48px;
}

  .citation-form label {
    display: block;
    margin-bottom: 10px;
  }

  .citation-form input {
    width: 100%;
    padding: 6px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

.form-actions {
  margin-top: 25px;
  display: flex;
  gap: 10px;
}
