
.books-header {
  display: flex;
  flex: 1;
  width: 100%;
  justify-content:center
}

.books-content {
  flex: 1;
  overflow: auto; /* enables scrolling for long lists */
  width: 100%;
}


.add-book-btn {
  background-color: transparent;
  color: #007bff;
  border: 1px solid;
  padding: 8px 14px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

  .add-book-btn:hover {
    background-color: #e6f0ff; /* light blue background on hover */
    color: #0056b3; /* darker blue text on hover */
    border-color: #0056b3; /* match text on hover */
  }


  .add-book-btn fa-icon {
    font-size: 16px;
  }
