.header-bar {
  display: flex;
  align-items: center;
  padding: 10px;
}

.logout-btn {
  justify-content: flex-end;
  color: #007bff;
  margin-left: auto;
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

  .logout-btn:hover {
    opacity: 0.7;
  }

